h1 {
    text-align: center;
    
}

.container {
    display: flex;
    justify-content: space-around;
}

.card {
    background-color: transparent;
    border: 1px solid transparent;
    padding: 20px;
    margin: 10px;
    width: 25%;
}